spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
    # -> JSON(@RequestBody, @ResponseBody)에만 적용된다.
    # -> @ModelAttribute에는 적용 X
  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/C:/workspace/6_SpringBoot/jpaProject/tdb
      driver-class-name: org.h2.Driver
      username: sa
      password: 1234
  h2:
    console:
      enabled: true
      path: /h2-console
      
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true 

server:
  port: 8888
